.profile-card {
  border: 1px solid var(--light-color);
  padding: 32px 24px;
  display: grid;
  grid-template-columns:repeat(2, 1fr) 250px 1fr;
  grid-gap: 24px;

}
.avatar-name{
  display: flex;
  grid-auto-columns: 70px 1fr;
  grid-gap: 20px;
}

.profile-card_avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-card__name{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-card__tags{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: min-content;
}

