@import "fonts.scss";
@import "margins.scss";
:root {
  --drak-color: #000;
  --light-color: #fff;
  --primary-color: #AE7AFF;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--drak-color);
  color: var(--light-color);
  background-image: url(/assets/img/background.png);
}

.skill-tags {
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
}

.btn {
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  color: var(--drak-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;

}
.btn-shadow {
  position: relative;
  &:before {
    content: "";

  }
}
.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 21px;
}


.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input {
  width: 100%;
  color: var(--light-color);
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--drak-color);
  font-weight: 400;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
}
