@import "fonts.scss";
@import "margins.scss";

:root {
  --dark-color: #000;
  --light-color: #fff;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--dark-color);
  color: var(--light-color);
  background-image: url(/assets/img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.skill-tags {
  padding: 2px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
}

.btn {
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border: 1px solid var(--dark-color);
}

.btn-shadow {
  position: relative;
}

.btn-shadow:before {
  border-radius: 4px;
  content: "";
  position: absolute;
  bottom: -4px;
  right: -4px;
  background: var(--gray-color);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 21px;
}


.tt-control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input {
  width: 100%;
  color: var(--light-color);
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
}
