@import "fonts.scss";

:root {
  --drak-color: #000;
  --light-color: #fff;
  --primary-color: #AE7AFF;
}


body {
  background-color: var(--drak-color);
  color: var(--light-color);
}

.skill-tags {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  margin-right: 4px;
}

.btn {
  border: none;
  background-color: var(--primary-color);
  color: var(--drak-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
